body {
  margin:20px;
  font-family:Helvetica;
}
h1, h2, h3, h4, h5, h6{
  cursor:pointer;
  margin:3px 0;
  padding:0;
}
article {
  padding-top:5px;
  margin:0;
  border-radius:3px;
}
select:focus{
  background: lightblue;
  border:1px solid black;
}
a {
  color:lightblue;
}
ul {
  list-style: none;
} 
textarea {
  font-size:1.1em;
  font-family:"Times New Roman";
  padding:2%;
  border:1px solid grey;
  border-radius:5px;
}
textarea:focus{
  outline:none;
  border:1px solid grey;
}