/*

  LITREV STYLES


  THIS FILE IS PART OF FDCH.GITHUB.IO/LITREV
  FOR ANY INFORMATION CONTACT FCH226@NYU.EDU


  FEDE CAMARA HALAC (FDCH)


*/
body {
  color:burlywood;
  background:black;
  margin:20px;
  font-family:Helvetica;
}
h1, h2, h3, h4, h5, h6{
  cursor:pointer;
  margin:3px 0;
  padding:0;
}
article {
  padding-top:5px;
  margin:0;
  border-radius:3px;
}
select:focus{
  background: lightblue;
  border:1px solid black;
}
a {
  color:lightblue;
}
ul {
  list-style: none;
} 
textarea, input[type=text], input[type=submit] {
  color:burlywood;
  background:black;
  font-size:1.3em;
  font-family:"Times New Roman";
  padding:2%;
  border:0.1px solid grey;
  border-radius:5px;
}
input[type=submit]:hover {
  cursor:pointer;
  color:white;
  text-decoration:underline;
  border:1px dashed red;
}
textarea:focus{
  outline:none;
  border:0.2px solid grey;
}
/*


  END STYLES


*/
